

body{
	margin: 0px;
	padding: 0px;
	
	
	font-size: 12px;
	color: #333;
	background-color: #FFC;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #6c0091;
	font-weight: bold;
}
a:hover{
	color: rgb(230,107,20);
}
input{
	height: 32px;
	padding: 2px;
	font-size: 14px;
}
#top_bottom{
	width: 100%;
	
	background-color: #9CF;
}
.intro_top{
	margin: auto;
	width: 1172px;
	height: 44px;
	background-color: #9CF;
	
	position: relative;
}
.intro_top span{
	height: 32px;
	line-height: 32px;
	text-align: center;
	padding-top: 12px;
	font-size: 120%;
}
.intro_top span a
{
	height: 32px;
	line-height: 32px;
}
.intro_top span#top_index{
	float: left;
	margin-left: 10px;
}
.intro_top span#top_quit{
	width: 40px;
	text-align: center;
	
	position: absolute;
	right: 10px;
}
.intro_top span#top_quit a{
	display: block;
	width: 40px;
}
.intro_top span#top_user{
	display: block;
	width: 105px;
	padding-right: 16px;
	
	position: absolute;
	right: 65px;
	
	vertical-align: middle;
}
.intro_top span#top_user img{
	display: block;
	
	width:24px;
	height: 24px;
	float: left;
	margin-top: 3px;
	margin-left: 15px;
	border-radius: 50%;
	
	
	
}
.intro_top span#top_user a{
	display: block;
	width:60px;
	float: left;
	margin-left: 5px;
	overflow: hidden;
	text-overflow: hidden;
	
	text-align: center;
}

.intro_main{
	width: 1172px;
	height: 1100px;
	margin: auto;
}
.intro_main_left{
	width: 210px;
	height: 1100px;
	float: left;
	
	border-right-width:1px ;
	border-right-style:solid;
	border-right-color:#CCC ;
}
.intro_main_left #left_user{
	width: 210px;
	margin-top: 0px;
	
	position: relative;
}
.intro_main_left #left_user dl{
	display: block;
	width: 210px;
	height: 130px;
	
}
.intro_main_left #left_user dl dt{
	display: block;
	padding-top: 10px;
	height: 80px;
}

.intro_main_left #left_user dl dd{
	display: inline-block;
	height: 50px;
	line-height: 50px;
}
.intro_main_left #left_user dl dd.user_name{
	width: 210px;
	font-size: 20px;
	text-align: center;
	overflow: hidden;
	
	position: absolute;
	top: 95px;
	left: -40px;
}
.intro_main_left #left_user dl dd.user_name_modify{
	width: 44px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	
	background-color: #69C;
	
	position: absolute;
	top: 113px;
	right: 0px;
}
.intro_main_left #left_user dl dd a{
	color: #FFF;
	cursor: pointer;
}
.intro_main_left #left_user dl dd a:hover
{
	color: #963;
}
.intro_main_left #left_user dl img{
	display: block;
	border-radius: 50%;
	margin: auto;
}
.intro_main_left #left_user ul{
	display: block;
	margin-top: 15px;
	width: 210px;
	padding-left: 20px;
}
.intro_main_left #left_user ul li{
	display: inline-block;
	width: 190px;
	height: 160%;
	line-height: 160%;
	text-align: center;
	font-size: 20px;
}
.intro_main_left #left_user ul li a
{
	display: inline-block;
	width: 190px;
}
.intro_main_left #left_user ul li a:hover{
	background-color: #09C;
	color: #FFF;
}

.intro_main_center{
	width: 740px;
	height: 1080px;
	float: left;
	padding-top: 20px ;
	padding-left: 20px;
	padding-right: 20px;
	
	position: relative;
	
	background-color: #FC9;
}
.intro_main_center .info_common
{
	display: none;
	width: 740px;
	height: 1070px;
	
	position:absolute;
	top: 20px;
	left: 20px;
}
.intro_main_center .bas_info form span input#name,#id
{
	width: 303px;
	max-width: 360px;
	text-overflow: hidden;
}
.intro_main_center .bas_info form span input#addr_home
{
	width: 303px;
	max-width: 360px;
}
.intro_main_center .bas_info form span input#addr_com
{
	width: 303px;
	max-width: 360px;
}
.intro_main_center .bas_info form span label.identity
{
	margin-left: 168px;
	
}
.intro_main_center .bas_info form span input#identity_id
{
	width: 172px;
	max-width: 300px;
}
.intro_main_center .bas_info form span label.email
{
	margin-left: 36px;
}
.intro_main_center .bas_info form span input#email
{
	width: 172px;
	max-width: 300px;
}
.dis{
	display:block;
}
.nodis{
	display: none;
}
.intro_main_center .education
{
	/*display: block;*/
}
.intro_main_center .bas_info
{
	display: block;
}
.intro_main_center .per_aim
{
	/*display: block;*/
}
.intro_main_center .rep
{
	/*display: block;*/
}
.intro_main_center .work_exper
{
	/*display: block;*/
}
.intro_main_center .pro_exper
{
	/*display: block;*/
}
.intro_main_center .lang_level
{
	/*display: block;*/
}
form #expect_city #forward
{
	width: 160px;
	height: 155px;
	text-align: center;
}
form #expect_city #city
{
	text-align: left;
	vertical-align: top;
	width: 300px;
	height: 80px;
	
}
form #expect_city #city input
{
	margin-left: 10px;
}

.intro_main_right{
	width: 180px;
	height: 1100px;
	float: right;
	
	border-left: 1px solid #CCC;
}
.intro_main_right ul
{
	padding: 0px;
	width: 180px;
}
.intro_main_right ul li
{
	width: 180px;
	font-size: 24px;
	height:48px;
	line-height: 48px;
	color: rgb(90,90,90);
}
.intro_main_right ul li a
{
	display: inline-block;
	width: 160px;
	height:48px;
	line-height: 48px;
	padding-left: 20px;
	color: rgb(90,90,90);
}
.intro_main_right ul li a:hover
{
	color: white;
	background-color: rgb(228,60,63);
}
.intro_main_right ul li a span
{
	display: inline-block;
	margin-left: 10px;
	
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	color: #ccc;
	
	padding: 0 6px;
	border: 1px solid;
	border-radius: 10px;
}
.intro_main_right ul li a:hover span{
	color: white;
}
#footer_bottom
{
	width: 100%;
	height: 44px;
	background-color: #9CF;
}
#footer_bottom #footer{
	clear:both;
	margin: 0 auto;
	
	width: 1172px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	
	
	background-color: #9CF;
}
#footer_bottom #footer span
{
	margin: auto;
	font-size: 16px;
	color: black;
}
