div.form_title{
	width: 725px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #666;
	letter-spacing: 2px;
	
	padding-left: 15px;
	
	background-color: rgb(245,245,245);
}

span.continue_add
{
	height: 32px;
	line-height: 32px;
	text-align:right;
}
span.continue_add input
{
	margin-right: 25px;
}

span.mark_multiply
{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: rgb(228,60,97);
	font-weight: normal;
}

form span,form div#det-elabor
{
	display: inline-block;
	width: 690px;
	height: 36px;
	line-height: 36px;
	margin-top: 20px;
	padding-left: 50px;
}

form span .input_cation
{
	font-size: 18px;
	margin-right: 12px;
}
/*
 * span中第一个label标签
 */
form .emer_label
{
	display: inline-block;
	width: 108px;
	font-size: 18px;
	margin-left: 12px;
}
form .row_one_label
{
	display: inline-block;
	width: 91px;
	font-size: 18px;
	margin-left: 12px;
}
/*
 * span中第一个label标签
 */
form .row_two_label
{
	font-size: 18px;
	margin-left: 36px;
}
.sexlabel{
	font-size:18px;
	margin-left:77px;
}

select
{
	width: 100px;
	font-size: 16px;
}

textarea#major_course,#pro_content,#pr_content,#assessment
{
	width: 346px;
	height: 120px;
	padding: 2px;
	border: 1px solid #E6E9EE;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	resize: none;
	word-wrap: break-word;
	overflow-y: scroll;
}

span input.input_text
{
	width: 214px;
}
span input#add
{
	margin-left: 15px;
}
span input#work_intr
{
	max-width: 600px;
}
div.submit_button
{
	margin-top: 120px;
	height: 50px;
	line-height: 50px;
	
	text-align: center;
}

div.submit_button .btn-red
{
	display: inline-block;
	padding: 10px 20px;
	border-radius: 2px;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	
	cursor: pointer;
	font-size: 16px;
	
	background-color: #33a3dc;
	
}
div.submit_button .btn-save-next{
	height: 30px;
	line-height: 30px;
}
table
{
	margin-top: 15px;
	width: 740px;
	font-size: 20px;
	color: #666;
}
table thead th
{
	height: 180%;
	line-height: 180%;
	border-bottom: 1px solid #630;
}
table tbody
{
	width: 740px;
	height: 100px;
	overflow-y: scroll;
}
label.levelname
{
	display: inline-block;
	text-align: justify;
	width: 50px;
	font-size: 18px;
	margin-left: 12px;
}
div span.lang-subject
{
	font-size: 18px;
	font-weight: bold;
	
	display: inline-block;
	width: 690px;
	height: 36px;
	line-height: 36px;
	margin-top: 20px;
	padding-left: 50px;
	
	border-bottom: 1px solid #630;
}
div.table
{
	width: 740px;
	margin-top: 20px;
	margin-bottom: 100px;
}

label.desire-label
{
	font-size: 18px;
	margin-left: 5px;
}

form label.wish-city
{
	font-size: 18px;
	margin-left: 12px;
}
input.generic_time
{
	width: 226px;
	border-radius:4px;
	border:#A6A6A6 1px solid;
	background-color:#FAFAFA;
}

form div#det-elabor {
	float: left;
	width: 62%;
	height: 135px;
	margin: 0px;
}

form div#do-intro{
	float: left;
	width: 30%;
	height: 135px;
}
form div#do-intro span{
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	margin: 0px;
	width: 100%;
}
